@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1 class="display-4">Quiz</h1>
        <div class="container">
            <div id="question-container"></div>
            <div id="result-container" class="hide">
                <button id="retry-btn" class="retry-btn btn" onclick="location.reload();">Retry</button>
            </div>
            <div class="controls">
                <button id="start-btn" class="start-btn btn">Start</button>
                <button id="next-btn" class="next-btn btn hide">Next</button>
            </div>
        </div>
    </div>
